# Generic
tmp/

# Gradle
.gradle/
build/

# Maven Configuration
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

# Eclipse Configuration
.settings/
.classpath
.project
bin/

# IntelliJ Configuration
.idea/
*.iml
